# Sparksd RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.sparkscore
host=127.0.0.1

#mainnet default
port=8818

#testnet default
#port=8818

#regtest default
#port=18443

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=101000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=1ab2c3d4
genesis=00000a5c6ddfaac5097218560d5b92d416931cfeba1abf10c81d1d6a232fc8ea
input=/home/example/.Sparks/blocks

# testnet
#netmagic=d12bb37a
#genesis=000005f15ec2b9e4495efb539fb5b113338df946291cccd8dfd192bb68cd6dcf"
#input=/home/example/.Sparks/testnet3/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
