# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit sparksd.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/sparks/sparks.conf

[Unit]
Description=Sparks daemon
After=network.target

[Service]
ExecStart=/usr/bin/sparksd -daemon -conf=/etc/sparks/sparks.conf -pid=/run/sparksd/sparksd.pid
# Creates /run/sparks owned by sparkscore
RuntimeDirectory=sparksd
User=sparkscore
Type=forking
PIDFile=/run/sparksd/sparksd.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
